:root {
    --color-bg: black;
    --color-tx: purple;
    --color-hl: orangered;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-tx);
    font-family: sans-serif;
}

.container {
    margin: 100px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.data {
    background-color: var(--color-tx);
    width: 10%;
    margin: 0 2px;
}

.data.open {
    background-color: var(--color-hl);
    color: var(--color-hl);
}

header {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

p {
    padding: 0 1%;
}